*{
    margin: 0%;
    padding: 0%;
} /*Configurações zeradas*/

body{
    background-color: whitesmoke/*cor de fundo da página*/

}

h2{
    color: darkgreen;
    font-family: 'Times New Roman', Times, serif;
    padding: 2px;
}
h3{
    color: white;
    background-color: seagreen;
}
img{ /*conf. da imagem*/
    padding: 10px; /*distancia entre as bordas */
    border-radius: 15px; /*arredondamento*/
    width: 635px;/*tamanho da imagen no post*/

}

p{
    text-align: justify;
    padding: 10px;
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.rodape {
    margin-top: auto;
    background-color: seagreen;
    color: white;
    padding: 20px;
    height: 100px;
}



.header{
    background-color: seagreen;/*Cabeçalho dp blog*/
    color: white;/*cor da fonte*/
    font-family: 'Times New Roman', Times, serif; /*fonte para titulo*/
    padding: 15px; /* distanciamento entre o texto e a borda*/
    text-align: center;
}

.menu,
 .logo{
    padding: 10px;
}

a, a:visited{/*quando o link for visitado*/
    color: white;
    text-decoration: none;
    padding: 8px 12px;/*distancia entre os intens*/
}

a:hover{ /*interação ao passar o mouse*/
    background-color: rgba(240, 248, 255, 0.22);
    color: white;
    padding: 10px;
    border-radius: 15px;
}

.container{/*container onde vai ficar o conteudo*/
    width: 920px;
    margin: 0 auto;/*centralizar o container*/
    padding: 10px;
}

.post{ /*conteudo principal do blog*/
    width: 660px;
    color: black;
    background-color: white;
    float: left;/*colocar a esquerda*/
    padding: 20px;
    align-items: center;
    margin: 20px
    
}

.barra-lateral{ /*conteudo lateral*/
    width: 230px; 
    background-color:seagreen;
    color:white;
    float: right;/*colocar a direita*/
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 155px;
    margin-right: 150px;

    

}
.data-post{
    font-size: 0.9em;
    color: darkcyan;
    padding: 4px;
}

.post-barra-lateral{
    background-color: white;
    color: rgb(4, 43, 4);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: inline-block;
}

#post-recente{
    text-align: center;
}


/* Hide the default checkbox */
.container input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 3em;
    width: 3em;
    background-color: #171717;
    border-radius: 10px;
    transition: .2s ease-in-out;
    z-index: 2;
  }
  
  .like {
    position: relative;
    font-size: 0.8em;
    top: -3.5em;
    text-align: center;
    z-index: -1;
  }
  
  .icon {
    margin: 0.2em;
    fill: white;
    transition: .4s ease-in-out;
  }
  
  .checkmark:hover {
    background-color: white;
  }
  
  .checkmark:hover .icon {
    fill: black;
    transform: rotate(-8deg);
    transform-origin: bottom left;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: limegreen;
  }
  
  .container input:checked ~ .like {
    color: white;
    animation: 0.6s up_3951;
  }
  
  .container input:checked ~ .checkmark .icon {
    fill: white;
    transform: none;
    animation: 0.5s jump_3951;
  }
  
  /*estilização do butão de like*/
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  @keyframes up_3951 {
    100% {
      transform: translateY(-2em);
    }
  }
  
  @keyframes jump_3951 {
    50% {
      transform-origin: center;
      transform: translateY(-0.5em) rotate(-8deg);
    }
  
    100% {
      transform-origin: center;
      transform: translateY(0em);
    }
  }
/*fim*/