*{
    margin: 0%;
    padding: 0%;
} /*Configurações zeradas*/

body{
    background-color: whitesmoke/*cor de fundo da página*/

}

h2{
    color: darkgreen;
    font-family: 'Times New Roman', Times, serif;
    padding: 2px;
}
h3{
    color: rgb(255, 255, 255);
    background-color: seagreen;
    text-align: center;
    height: 30px;
    margin: 10px;
    font-size: 30px;
}
h4{
  color: darkgreen;
}

img{
  padding: 10px;
  margin: auto;
}



p{
    text-align: justify;
    padding: 10px;
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.rodape {
    margin-top: auto;
    background-color: seagreen;
    color: white;
    padding: 20px;
    height: 100px;
}



.header{
    background-color: seagreen;/*Cabeçalho dp blog*/
    color: white;/*cor da fonte*/
    font-family: 'Times New Roman', Times, serif; /*fonte para titulo*/
    padding: 15px; /* distanciamento entre o texto e a borda*/
    text-align: center;
}

.menu,
 .logo{
    padding: 10px;
}

a, a:visited{/*quando o link for visitado*/
    color: white;
    text-decoration: none;
    padding: 8px 12px;/*distancia entre os intens*/
}

a:hover{ /*interação ao passar o mouse*/
    background-color: rgba(240, 248, 255, 0.22);
    color: white;
    padding: 10px;
    border-radius: 15px;
}

.container{/*container onde vai ficar o conteudo*/
    width: 920px;
    margin: 0 auto;/*centralizar o container*/
    padding: 10px;
}

.post{ /*conteudo principal do blog*/
    width: 660px;
    color: black;
    background-color: white;
    float: left;/*colocar a esquerda*/
    padding: 20px;
    align-items: center;
    margin: 20px;
    box-shadow: 5px 5px 10px gray;
    
}

.barra-lateral{ /*conteudo lateral*/
    width: 230px; 
    background-color:seagreen;
    color:white;
    float: right;/*colocar a direita*/
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 155px;
    margin-right: 150px;
}

.programacao{
  color: darkgreen;
  padding: 10px;
  text-decoration: underline;
}

  .programacao:hover{
    color: lightseagreen;
  }

.data-post{
    font-size: 0.9em;
    color: darkcyan;
    padding: 4px;
}

.post-barra-lateral{
  background-color: white;
    color: rgb(4, 43, 4);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 10px;

}






/*estilização do butão de like*/
.container input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
  }
  
  
  .checkmark { /*cor do botão sem interação*/
    position: relative;
    top: 0;
    left: 0;
    height: 3em;
    width: 3em;
    background-color:gray;
    border-radius: 10px;
    transition: .2s ease-in-out;
    z-index: 2;
  }
  
  .like {
    position: relative;
    font-size: 0.8em;
    top: -3.5em;
    text-align: center;
    z-index: -1;
  }
  
  .icon {
    margin: 0.2em;
    fill: white;
    transition: .4s ease-in-out;
  }
  
  .checkmark:hover {
    background-color: white;
  }
  
  .checkmark:hover .icon {
    fill: lightgreen;
    transform: rotate(-8deg);
    transform-origin: bottom left;
  }
  
  /*cor do botão após interação*/
  .container input:checked ~ .checkmark {
    background-color: forestgreen;
  }
  
  .container input:checked ~ .like {
    color: white;
    animation: 0.6s up_3951;
  }
  
  .container input:checked ~ .checkmark .icon {
    fill: white;
    transform: none;
    animation: 0.5s jump_3951;
  }
  
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  @keyframes up_3951 {
    100% {
      transform: translateY(-2em);
    }
  }
  
  @keyframes jump_3951 {
    50% {
      transform-origin: center;
      transform: translateY(-0.5em) rotate(-8deg);
    }
  
    100% {
      transform-origin: center;
      transform: translateY(0em);
    }
  }
/*fim*/
/* Estilos para telas maiores que 920px */
@media only screen and (min-width: 920px) {
  .container {
      width: 920px;
  }

  .post {
      width: 660px;
      margin: 20px;
  }

  .barra-lateral {
      width: 230px;
      margin-right: 150px;
  }
}

/* Estilos para telas menores que 920px */
@media only screen and (max-width: 920px) {
  .container {
      width: 90%;
      margin: 0 auto;
      padding: 10px;
  }

  .post, .barra-lateral {
      width: 100%;
      float: none;
      margin: 20px 0;
  }

  .barra-lateral {
      position: static;
      margin: 20px auto;
  }
}

/* Estilos para telas menores que 600px */
@media only screen and (max-width: 600px) {
  .post {
      padding: 10px;
      
  }
}





