/* Importando a fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset CSS básico para zerar margens, preenchimentos e definir a caixa de modelo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o corpo do documento */
body {
    background: rgb(238, 240, 242);
    font-family: 'Poppins', sans-serif; /* Fonte Poppins aplicada */
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

/* Estilos para o cabeçalho */
header {
    width: 100%;
    height: 100px; /* Altura do cabeçalho */
    background-color: #C1D9A9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* Estilos para o contêiner do logo e texto */
.container.logo {
    display: flex;
    align-items: center;
}

/* Estilos para a imagem do logo */
.logo-imagem {
    width: 50px;
    height: 50px;
    margin-right: 20px; /* Espaçamento à direita */
}

.logo-imagem img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Garante que a imagem se ajuste ao contêiner */
}

/* Estilos para o texto do logo */
.logo-texto h1 {
    color: #415936;;
}

/* Estilos para o menu de navegação */
.menu ul {
    list-style-type: none; /* Remove os marcadores da lista */
}

.menu li {
    display: inline-block;
    margin-left: 20px; /* Espaçamento entre os itens do menu */
}

.menu li a {
    font-size: 18px; /* Tamanho da fonte dos links */
    text-decoration: none;
    color: #415936;
    padding: 5px 15px; /* Preenchimento interno dos links */
    border-radius: 15px; /* Borda arredondada */
}

.menu li a:hover {
    background-color: rgba(240, 248, 255, 0.22); /* Cor de fundo ao passar o mouse */
}

/* Estilos para o blog */
#blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-heading span {
    color: #f33c3c;
}

.blog-heading h3 {
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #415936;
    box-shadow: 10px 10px 15px grey;
    border-radius: 5px;
}

.blog-box {
    width: 350px;
    height: 400px; /* Altura fixa para todas as caixas */
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}



.blog-img {
    width: 100%;
    height: 200px; /* Altura fixa para as imagens */

}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden; /* Garante que o texto não transborde */
}



.blog-text span {
    color: #3c57f3;
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #265425;
    margin-bottom: 10px;
    text-decoration: none;
    
}

.blog-text p {
    color: #9b9b9b;
    font-size: 0.9rem;
    margin: 5px 0px;
    flex-grow: 1;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-text a {
    color: #0f0f0f;
    margin-top: auto;
}

.blog-text a:hover {
    color: #042603;
    transition: all ease 0.3s;
}

@media (max-width: 1250px) {
    .blog-box {
        width: 300px;
    }
}

@media (max-width: 1100px) {
    .blog-box {
        width: 70%;
    }
}

@media (max-width: 550px) {
    .blog-box {
        margin: 20px 10px;
        width: 100%;
    }

    #blog {
        padding: 20px;
    }
}
.footer-container {
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
    padding: 20px 0; /* Espaçamento interno (acima e abaixo) */
    text-align: center; /* Centraliza o texto */
    position: relative; /* Para ajustes adicionais, se necessário */
    bottom: 0; /* Posiciona o rodapé no final da página */
    width: 100%; /* Garante que o rodapé ocupe toda a largura da página */
    font-family: 'Poppins', sans-serif; /* Aplica a fonte Poppins */
}